html {
}

body {
	font-family:Lato;
	font-size:16px;
	line-height:1.3;
	bbackground:#fbecca;
	background:transparent;
	border-top:10px solid #ffee67;
	color:#333;
}

a {
	color: #2589ca;
	text-decoration: none;
	border-bottom: 1px dotted #fff;
}

a:hover {
	color: #1d6c9f;
	text-decoration:none;
	border-bottom: 1px dotted #1d6c9f;
}

#firsthalf {
	padding-top:40px;
	background: url(../img/back2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	font-weight:300;
	font-size:80px;
	line-height:1;
	text-align:center;
	color: #fff;
	text-transform:uppercase;
	letter-spacing:0;
}
	.lower {
		font-weight:100;
	}

	h2 {
		margin:0;
		font-size:45px;
		text-align:left;
		font-weight:300;
	}

		.main h2 {
			text-align:center;
			margin:0.5em 0;
			font-size:70px;
			line-height:88px;
		}


span {
	background: rgba(255,255,255,0.7);
	padding:2px 8px;
}

.container {
	max-width:960px;
}

	#head {
		background: #FF8167;
		padding:50px 0;
	}

		#head span {
			background:transparent;
			padding:0;
		}

	.main {
	}

#everything {
	background: rgba(255,255,255,0.7);
	background:#fff;
	border:10px solid white;
}

#organizers {
	background:#fff;
	border:10px solid #fff;
}

.content {
	background:#5bace1;
	padding:0px 25px;
	color:#fff;
	margin:0 0 25px 0;
}

	.content h3 {
		padding-bottom:0.25em;
	}

	.price {
		padding-top:10px;
		text-align: center;
		font-size:25px;
		vertical-align: center
	}

	.price h2 {
		font-size:90px;
		text-align:center;
		margin:0;
		line-height:1;
		font-weight:700;
	}

	.interested h2,
	.interested h3 {
		text-align:center;

	}

	.interested h2 {
		font-size:90x;
		padding-top:30px;
	}

	.interested h3 {
		font-weight: 300;
	}

	.interested h3:last-child {
		padding-bottom:15px;
	}

	#map-box {
		background:#5bace1;
		color:#fff;
		position:absolute;
		top:200px;
		width:100%;
		padding:15px 0;
	}

		#map-box h2 {
			font-size:24px;
			text-align:center;
			display:block;
		}

	#organizers a,
	#organizers p {
		float: left;
		display: inline-block;
		color: #fff;
		padding: 8px 5px;
		background: #ff8167;
		margin-right :20px;
		margin-bottom: 20px
	}

	#organizers .img-members {
		text-align:center;
	}

	#organizers .img-members a,
	#organizers .img-members p {
		float: none;
		display: inline-block;
		background:#fff;
	}


